*, ::before, ::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* For some reason making the width any larger than 98.9vw
    makes the website horizontally scrollable which I dont prefer*/
    width: 98.9vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

body > * {
    padding: 10vh 10vw;
}

header, .container-top, footer {
    background-color: #1F2937;
}


/* HEADER CSS */

header {
    display: flex;
    align-items: center;
    padding: 1vh 10vw;
}

header > h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin-left: auto;
}

a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #ff00ff;
}

a:active {
    color: darkmagenta;
}


/* TOP CONTAINERS CSS */

.container-top {
    display: flex;
    gap: 3vw;
    align-items: center;
    color: #E5E7EB;
    font-size: 22px;
}

.big-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0.5em;
    margin-top: 0;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    padding: 0.5em 1.5em;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f0f;
}

button:active {
    background-color: darkmagenta;
}

figure {
    margin: 0;
}

img {
    width: 25vw;
    min-width: 250px;
}


/* UPPER MID CONTAINER CSS */

.container-uppermid {
    text-align: center;
    padding: 10vh 12vw;
    font-size: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.illustration-container {
    display: flex;
    gap: 24px;
}

.illustration-container img {
    width: 15vw;
    min-width: 0;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.illustration-container p {
    margin-top: 8px;
}


/* LOWERMID CONTAINER CSS */

.container-lowermid {
    background-color: #E5E7EB;
    text-align: right;
    padding: 10vh 15vw;
    font-weight: 700;
    font-size: 22px;

}

.container-lowermid > :first-child {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    text-align: left;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.container-lowermid > :last-child {
    padding-right: 50px;
}

/* CONTAINER BOTTOM CSS */

.container-bottom {
    margin: 12.5vh 10vw;
    padding: 25px 80px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 22px;
}

.container-bottom spam {
    font-weight: 600;
}

.container-bottom button {
    min-width: 100px;
    border: 2px solid #F9FAF8 ;
    padding: 10px 20px;
}


/* FOOTER */

footer {
    text-align: center;
    color: #F9FAF8;
    padding: 3vh;
}