*, ::before, ::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

body > * {
    padding: 0 10vw;
}

header, .container-top, footer {
    background-color: #1F2937;
}


/* HEADER CSS */

header {
    display: flex;
    align-items: center;
}

header > h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin-left: auto;
}

a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #ff00ff;
}


/* TOP CONTAINERS CSS */
.container-top {
    display: flex;
    padding: 40px 10vw 60px;
    gap: 3vw;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.big-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

img {
    width: 30vw;
    min-width: 300px;
}

.container-lowermid {
    background-color: #E5E7EB;
}